*{
    margin: 0%;
    padding: 0%;
   text-decoration: none;
}

body{
background-color: #c4c4c6;
display: flex;
flex-direction: column;
height: 100vh;
font-family: 'Roboto Slab', serif;
background-image: url(peter-steiner-1973-dTk-vRaGMns-unsplash\ \(1\).jpg);
background-size: cover;
}

header, footer{
    background-color: #14101800;

}

header{
    
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 10px  20px  10px  20px ; 
    height: 35px;
}
header a{
    color: rgb(0, 0, 0);


}

main{
    flex: 1;
}
nav a{
margin-right: 10px;
padding:10px;
border-radius: 5px;
}

nav a:hover{
    background-color: #ffffff50;
}
header a:hover{
    padding: 10px;
    border-radius: 5px;
    background-color: #d2d0d042;
} 
h1{
    display: flex;
    justify-content: center;
    padding: 25px 20px 0pc 20px;
}
p{
    display: flex;
    justify-content: center;
    
}



    